# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/
ios/
# We keep android/ in repo but ignore build outputs
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
android/.idea/
android/*.iml

# Misc
.DS_Store
*.keystore
!debug.keystore
